<div class="services">
  <div class="services__our-services">
    <p>Manos a la obra es una empresa enfocada en el suministro e instalación de productos para acabados en proyectos de construcción en vivienda y comercio.</p>
  </div>
  <div class="services--container">
    <div class="services--container__images services--container__images__garden">
      <div class="services--container__text">
        <p>Mantenimiento de:</p>
        <li>Persianas.</li>
        <li>Pisos en madera natural y maciza.</li>
      </div>
    </div>
    <div class="services--container__images services--container__images__floor">
      <div class="services--container__text">
        <p>Instalación de:</p>
        <li>Jardines verticales.</li>
        <li>Persianas.</li>
        <li>Cielo falso.</li>
        <li>PVC Piso laminado SPC - WPC.</li>
        <li>Paredes 3D.</li>
        <li>Caucho reciclado grama sintética.</li>
      </div>
    </div>
    <div class="services--container__images services--container__images__blackouts">
      <div class="services--container__text">
        <p>Fabricación de:</p>
        <li>Guardaescobas.</li>
        <li>Perfiles.</li>
        <li>Narices según pedido.</li>
      </div>
    </div>
  </div>
</div>
