<div class="services">
  <div class="services__our-services">
    <h4>Nuestros servicios</h4>
    <p>Manos a la obra es una empresa enfocada en el suministro e instalación de productos para acabados en proyectos de construcción en vivienda y comercio.</p>
  </div>
  <div class="services--container">
    <div class="services--container__images services--container__images__garden">
      <div class="services--container__text">
        Instalación de Jardines Verticales
      </div>
    </div>
    <div class="services--container__images services--container__images__floor">
      <div class="services--container__text services--container__text--middle">
        Instalación de Piso laminado/spc
      </div>
    </div>
    <div class="services--container__images services--container__images__blackouts">
      <div class="services--container__text">
        Instalación de Persianas
      </div>
    </div>
  </div>
</div>
