.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0px;
}

.mat-form-field-infix {
  border-top: 6px solid transparent;
}

.mat-form-field-wrapper {
  padding-bottom: 1em;
}

.mat-input-element {
  caret-color: #006837;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #006837;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(194, 194, 194, 0.87);
}

.mat-raised-button {
  color: white;
  background-color: #006837;
  line-height: 25px !important;
}

.mat-raised-button[disabled] {
  cursor: default;
  line-height: 25px !important;
}
