.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0px;
  height: 50px;
}

.mat-form-field-infix {
  border-top: 6px solid transparent;
}

.mat-form-field-wrapper {
  padding-bottom: 1em;
}

.mat-input-element {
  caret-color: $green;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $green;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(194, 194, 194, 0.87);
}

.mat-raised-button {
  color: $white;
  background-color: $green;
  line-height: 25px !important;
}

.mat-raised-button[disabled] {
  cursor: default;
  line-height: 25px !important;
}

// Main Icon
.main-icon {
  width: 176px;
  height: 50px;
}

button:focus {
  background-color: transparent;
}
