.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0px;
  height: 40px;
}

.mat-form-field-infix {
  border-top: 6px solid transparent;
}

.mat-form-field-wrapper {
  padding-bottom: 1em;
}

.mat-input-element {
  height: 25px;
  font-size: 13px;
  font-family: Myriad Pro Regular;
  border-bottom: 0px;
}

.mat-input-element:focus {
  border-bottom: 0px !important;
  box-shadow: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $green;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $green;
}

.mat-raised-button {
  color: $white;
  background-color: $green;
  line-height: 25px !important;
}

.mat-raised-button[disabled] {
  cursor: default;
  line-height: 25px !important;
}

// Main Icon
.main-icon {
  width: 176px;
  height: 50px;
}

mat-label {
  font-size: 13px;
  font-family: Myriad Pro Regular;
}

mat-form-field {
  height: 65px;
}

.mat-form-field-subscript-wrapper {
  font-size: 65%;
  margin-top: .3em;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $green !important;
 }
