<div class="home__title">
  <label for="">NUESTROS PRODUCTOS</label>
</div>
<div class="home__our-products">
  <a href="">PISOS LAMINADOS</a>
  <a href="">PERSIANAS</a>
  <a href="">PISOS SPC / WPC</a>
  <a href="">JARDINES VERTICALES</a>
</div>
<div class="home__slogan">
  ¡TENEMOS 10 AÑOS DE EXPERIENCIA, CREANDO ESPACIOS PARA CADA MOMENTO!
</div>
<div>
  <div>
    <div>
        <label for="">CALIDAD</label>
        <label for="">GARANTIA</label>
        <label for="">EXPERIENCIA</label>
    </div>
    <div>
      <h3>NOSOTROS</h3>
      Nuestro equipo de trabajo esta conformado por personas con experiencia en instalaci+on de todos nuestros servicios y contaomos con productos de excelente calidad y garantía.
    </div>
  </div>
  <div>
    <h3>Nuestros Servicios</h3>
    <div>
      <label for="">INSTALACIÓN DE PISOS LAMINADOS</label>
    </div>
  </div>
</div>
