<div class="home__title">
  <label for="">NUESTROS PRODUCTOS</label>
</div>
<div class="home__our-products">
  <a>PISOS LAMINADOS</a>
  <a>PERSIANAS</a>
  <a>PISOS SPC / WPC</a>
  <a>JARDINES VERTICALES</a>
</div>
<div class="home__slogan">
  ¡TENEMOS 10 AÑOS DE EXPERIENCIA, CREANDO ESPACIOS PARA CADA MOMENTO!
</div>
<div class="home__container-us-and-services">
  <div class="home__container-us-and-services--us">
    <div class="home__container-us-and-services--us--left">
        <label for="">CALIDAD</label>
        <label for="">GARANTIA</label>
        <label for="">EXPERIENCIA</label>
    </div>
    <div class="home__container-us-and-services--us--rigth">
      <h3>NOSOTROS</h3>
      Nuestro equipo de trabajo esta conformado por personas con experiencia en instalación de todos nuestros servicios y contamos con productos de excelente calidad y garantía.
    </div>
  </div>
  <div class="home__container-us-and-services--services">
    <div>
        <h3>Nuestros Servicios</h3>
    </div>
    <div class="home__container-us-and-services--services--types">
      <label for="">INSTALACIÓN DE PISOS LAMINADOS</label>
      <label for="">INSTALACIÓN DE PERSIANAS</label>
      <label for="">INSTALACIÓN DE JARDINES</label>
    </div>
    <div class="home__container-us-and-services--services--types home__container-us-and-services--services--types__second">
      <label for="">INSTALACIÓN DE PISOS SPC O</label>
      <label for="">REMODELACIÓN DE INTERIORES</label>
    </div>
  </div>
</div>
