<div class="home__title">
  <label for="">NOSOTROS</label>
</div>
<div class="home__description">
  Entre nuestras especialidades esta la instalación de piso laminado, caucho reciclado para parques, gimnasios, jardines verticales y grama sintética.
  Tenemos un variado catalogó de productos de alta calidad para la remodelación de su hogar y asesores expertos que lo acompañaran en cada paso.
</div>
<div class="home__slogan">
  ¡Tenemos 10 años de experiencia, creando espacios para cada momento!
</div>
<div class="home__container-us-and-services">
    <div class="home__title">
      <label for="">NUESTROS SERVICIOS</label>
    </div>
    <div class="home__container-us-and-services__container">
      <div class="home__container-us-and-services__container--item home__container-us-and-services__container--item__service-one">
        <div>
          INSTALACIÓN DE PISOS LAMINADOS SPC - WPC
        </div>
      </div>
      <div class="home__container-us-and-services__container--item home__container-us-and-services__container--item__service-two">
        <div>
          INSTALACIÓN DE PERSIANAS
        </div>
      </div>
      <div class="home__container-us-and-services__container--item home__container-us-and-services__container--item__service-three">
        <div>
          INSTALACIÓN DE CIELO EN PVC
        </div>
      </div>
      <div class="home__container-us-and-services__container--item home__container-us-and-services__container--item__service-four">
        <div>
          INSTALACIÓN DE JARDINES VERTICALES
        </div>
      </div>
      <div class="home__container-us-and-services__container--item home__container-us-and-services__container--item__service-five">
        <div>
          INSTALACIÓN DE CAUCHO RECICLADO Y GRAMA SINTETICA
        </div>
      </div>
    </div>
</div>
