@import './../../../../scss/styles';

@include media(all) {
  .ig {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  .main-icon-floating {
    background-color: $green;
  }
}

@include media(xs) {
  .ig {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  .main-icon-floating {
    background-color: $green;
  }
}

