<div class="slider slider-container">
  <ul class="slides slider-container--slides">

    <ng-container>
      <div class="custom-slider custom-slider__inicio" *ngIf="router.url === '/' || router.url === '/home'">
        <h2>Inicio</h2>
        <p>¡Seguimos manos a la obra!</p>
      </div>
      <div class="custom-slider" *ngIf="router.url === '/nosotros'">
        <h2>Nosotros</h2>
      </div>

      <div class="custom-slider" *ngIf="router.url === '/servicios'">
        <h2>Servicios</h2>
      </div>

      <div class="custom-slider" *ngIf="router.url === '/catalogo'">
        <h2>Catálogo</h2>
      </div>
    </ng-container>


    <li>
      <img src="../../../../assets/img/sliderInicio.png"> <!-- random image -->
      <!-- <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div> -->
    </li>
    <li>
      <img src="../../../../assets/img/sliderCatalogo.png"> <!-- random image -->
      <!-- <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div> -->
    </li>
    <li>
      <img src="../../../../assets/img/sliderNosotros.png"> <!-- random image -->
      <!-- <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div> -->
    </li>
    <li>
      <img src="../../../../assets/img/sliderServices.png"> <!-- random image -->
      <!-- <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div> -->
    </li>
  </ul>
</div>




