.slider {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  &__inicio {
    background-image: url('../../../../assets/img/sliderInicio.png');
    justify-content: flex-end;
  }
  &__catalogo {
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../../assets/img/sliderCatalogo.png') center;
  }
  &__services {
    background-image: url('../../../../assets/img/sliderServices.png');
  }
  &__us {
    background-image: url('../../../../assets/img/sliderNosotros.png');
  }
  h2 {
    text-align: center;
    font: Bold 60px/58px Myriad Pro;
    letter-spacing: 0;
    color: #006837;
    opacity: 1;
    -webkit-text-stroke: 0.5px white;
    margin: 0px;
  }
  p {
    font-family: Dreams-Liem;
    font-size: 55px;
    color: #FFFFFF;
    margin: 10px;
  }
}


