$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media==all {
    @media only screen and (min-width: 1px) {
      @content;
    }
  }
  @if $media==xs {
    @media only screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }
}

// @mixin media($media) {
//   @if $media==all {
//     @media only screen and (min-width: 1px) {
//       @content;
//     }
//   }
//   @if $media==xs {
//     @media only screen and (max-width: $breakpoint-sm) {
//       @content;
//     }
//   } @else if $media==sm {
//     @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
//       @content;
//     }
//   } @else if $media==md {
//     @media only screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
//       @content;
//     }
//   } @else if $media==lg {
//     @media only screen and (min-width: $breakpoint-lg) {
//       @content;
//     }
//   }
// }
