<div class="menu">
  <img src="../../../../assets/img/icono-manos-a-la-obra.PNG" alt="Manos a la obra" class="main-icon">
  <button mat-button (click)="navigateTo('home')" [ngClass]="router.url === '/' || router.url === '/home'? 'button--selected' : 'button'">Inicio</button>
  <button mat-button (click)="navigateTo('catalogo')" [ngClass]="router.url === '/catalogo' ? 'button--selected' : 'button'">Catálogo</button>
  <button mat-button (click)="navigateTo('servicios')" [ngClass]="router.url === '/servicios' ? 'button--selected' : 'button'">Servicios</button>
  <button mat-button (click)="navigateTo('nosotros')" [ngClass]="router.url === '/nosotros' ? 'button--selected' : 'button'">Contacto</button>
</div>
