@import '../../../../styles';

.menu {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 25px 50px;
  align-items: center;
  justify-content: space-around;
}

.button {
  font-family: Myriad Pro Regular;
  &--selected {
    font: Bold 16px/36px Myriad Pro Bold;
    color: $green;
    background-color: transparent;
  }
}

button:focus {
  background-color: transparent;
}
