<div class="footer">
  <div class="footer--icon">
      <img src="../../../../assets/img/icono-manos-a-la-obra.PNG" alt="Manos a la obra" class="main-icon">
  </div>
      <!--<div>

    <form class="footer--contact-us" [formGroup]="contactUsForm" (ngSubmit)="sendContactUs(contactUsForm.value)">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Nombre" class="form-control"  formControlName="name" maxlength="64" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" class="form-control"  formControlName="email" maxlength="64" autocomplete="off">
        <mat-error *ngIf="contactUsForm.get('email').errors?.email">Debe ingresar un email valido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Número de contacto" class="form-control"  formControlName="phoneNumber" maxlength="64" autocomplete="off" minlength="7" maxlength="10">
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.minlength">Debe ingresar un número de contacto valido</mat-error>
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.maxlength">Debe ingresar un número de contacto valido</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="isDisabled">Enviar</button>
    </form>
  </div>-->
  <div>
    <div class="footer--container-social">
      <a href="https://www.facebook.com/manosalaobrasas/" target="_blank"><img src="../../../../assets/img/facebook.png" height="25px"></a>
      <a href="https://www.instagram.com/manosalaobrasas?r=nametag" target="_blank"><img src="../../../../assets/img/ig.png" height="25px"></a>
      <a href="https://wa.link/g4cibi" target="_blank"><img src="../../../../assets/img/whats.png" height="25px"></a>
    </div>
    <div class="footer--container-social__text">
      <p>HORARIO: Lunes a Sábado de 8:00 a.m. a 5 p.m.</p>
      <p>CONTACTANOS PBX 1 402 31 08 a nivel nacional</p>
      <p>Marca desde celular 318 367 92 28</p>
      <p>Email: manosalaobrasas2@gmail.com</p>
    </div>
  </div>
</div>
