<div class="footer">
  <div class="footer--icon">
      <img src="../../../../assets/img/footer-manos-a-la-obra.PNG" alt="Manos a la obra" height="70px">
  </div>
  <div>
    <form class="footer--contact-us" [formGroup]="contactUsForm" (ngSubmit)="sendContactUs(contactUsForm.value)">
      <mat-form-field appearance="outline" [color]="primary">
        <input matInput placeholder="Nombre" class="form-control"  formControlName="name" maxlength="64" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" class="form-control"  formControlName="email" maxlength="64" autocomplete="off">
        <mat-error *ngIf="contactUsForm.get('email').errors?.email">Debe ingresar un email valido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Número de contacto" class="form-control"  formControlName="phoneNumber" maxlength="64" autocomplete="off" minlength="7" maxlength="10">
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.minlength">Debe ingresar un número de contacto valido</mat-error>
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.maxlength">Debe ingresar un número de contacto valido</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="isDisabled">Enviar</button>
    </form>
  </div>
  <div>
    <div class="footer--container-social">
      <a href="https://es-la.facebook.com/pages/category/Product-Service/Manos-a-la-Obra-601702623561917/"><img src="../../../../assets/img/facebook.png" height="25px"></a>
      <a href="https://www.facebook.com/manosalaobrasas/"><img src="../../../../assets/img/ig.png" height="25px"></a>
      <a href=""><img src="../../../../assets/img/whats.png" height="25px"></a>
    </div>
    <div class="footer--container-social__text">
      <p>SALA DE VENTAS Tv. 94L #82B 38</p>
      <p>HORARIO: Lunes a Sábado de 8:00 a.m. a 5 p.m.</p>
      <p>CONTACTANOS PBX a nivel nacional - Marca desde celular 317 504 70 83</p>
      <p>Móviles 300 755 56 26 - 301 507 77 41 - 321 431 76 69 - 321 461 38 73</p>
      <p>Email: manosalaobrasas2@gmail.com</p>
    </div>
  </div>
</div>
