<div class="works-services">
  <div class="works-services--title">
    <label for="">COMO FUNCIONAN NUESTROS SERVICIOS</label>
  </div>
  <div class="works-services--container">
    <div class="works-services--container--sub">
        <img src="../../../../assets/img/house.png">
        <p>Mantenimiento y pulido de pisos en madera maciza y laminada</p>
    </div>
    <div class="works-services--container--sub">
      <img src="../../../../assets/img/tool.png">
      <p>Mantenimiento de jardines verticales y persianas</p>
    </div>
    <div class="works-services--container--sub">
      <img src="../../../../assets/img/box.png">
      <p>Visita y toma de medidas para cotización</p>
    </div>
  </div>

</div>
