@import '../../../../styles';

.works-services {
  background: url('../../../../assets/img/background-two.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  &--title {
    justify-content: center;
    align-items: center;
    display: flex;
    label {
      width: 400px;
      text-align: center;
      padding: 4px;
      background: $footer-white 0% 0% no-repeat padding-box;
      opacity: 0.8;
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &--container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    &--sub {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 120px;
      background: $white 0% 0% no-repeat padding-box;
      opacity: 0.8;
      p {
        font-size: 0.9em;
        padding: 10px;
        width: 180px;
        text-align: center;
        margin: 0px;
      }
      img {
        height: 35px;
      }
    }
  }
}
