<div class="catalogue">
  <div class="catalogue__description">
    <h4>Catálogo</h4>
    <p>Nuestros productos, son de excelente calidad por eso podrás ver un catálogo con el nombre de cada piso, así sabrás lo que deseas.</p>
  </div>
  <div class="catalogue--container">
    <div class="catalogue--container__images catalogue--container__images__garden">
      <div class="catalogue--container__text">
        Piso laminado o SPC
      </div>
    </div>
    <div class="catalogue--container__images catalogue--container__images__floor">
      <div class="catalogue--container__text catalogue--container__text--middle">
        Jardines Verticales
      </div>
    </div>
    <div class="catalogue--container__images catalogue--container__images__blackouts">
      <div class="catalogue--container__text">
        Persianas
      </div>
    </div>
  </div>
</div>
