.catalogue {
  display: flex;
  flex-direction: column;
  height: 500px;
  &__description{
    background: #006837 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0px;
    h4 {
      margin: 5px;
      font-weight: lighter;
    }
    p {
      margin: 1em 460px;
    }
  }
  &--container {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &__images {
      height: 200px;
      width: 300px;
      &__garden {
        background: url('../../../../assets/img/pisosLaminados.png') no-repeat;
        background-size: cover;
      }
      &__floor {
        background: url('../../../../assets/img/jardinesVerticales.png') no-repeat;
        background-size: cover;
        width: 400px;
      }
      &__blackouts {
        background: url('../../../../assets/img/persianas.png') no-repeat;
        background-size: cover;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      opacity: 1;
      margin: 74px 60px;
      text-align: center;
      font: Bold 21px/25px Myriad Pro;
      letter-spacing: 0;
      color: #006837;
      width: 170px;
      padding: 5px;
      &--middle {
        margin: 82px 98px;
        width: 211px;
      }
    }
  }
}
