<div>
  <img src="../../../../assets/img/inspector.png">
  <div>
    <div>
      <h3>¿QUIÉNES SOMOS?</h3>
      <p>Manos a la obra es una empresa enfocada en proyectos de obras para remodelación e instalación de diferentes opciones de acabados al
        interior de unidades residenciales como apartamentos, casas, oficinas y lobby´s, dentro y fuera de la ciudad.</p>
      <div>¡Seguimos manos a la obra!</div>
      <div>
        <label for="">GARANTÍA</label>
        <label for="">CALIDAD</label>
        <label for="">EXPERIENCIA</label>
      </div>
    </div>
  </div>
  <img src="../../../../assets/img/piso_laminado.png">
</div>
