<div class="us">
  <div>
    <img src="../../../../assets/img/inspector.png" height="200px" width="300px">
  </div>
  <div class="us__container-info">
    <div class="us__container-info--top">
      <h3>¿QUIÉNES SOMOS?</h3>
      <p>Manos a la obra es una empresa enfocada en proyectos de obras para remodelación e instalación de diferentes opciones de acabados al
        interior de unidades residenciales como apartamentos, casas, oficinas y lobby´s, dentro y fuera de la ciudad.</p>
    </div>
    <div class="us__container-info--center">¡Seguimos manos a la obra!</div>
    <div class="us__container-info--bottom">
      <label for="">GARANTÍA</label>
      <label for="">CALIDAD</label>
      <label for="">EXPERIENCIA</label>
    </div>
  </div>
  <div>
    <img src="../../../../assets/img/piso_laminado.png" height="200px" width="300px">
  </div>
</div>
