<div class="us">
  <div>
    <img src="../../../../assets/img/inspector.png" height="210px" width="300px">
  </div>
  <div class="us__container-info">
    <div class="us__container-info--top">
      <p>¿QUIÉNES SOMOS?</p>
      <p style="margin: 0px">Manos a la obra es una empresa enfocada en proyectos de obras para remodelación e instalación de diferentes opciones de acabados al
        interior de unidades residenciales como apartamentos, casas, oficinas y lobby´s, dentro y fuera de la ciudad.</p>
    </div>
    <div class="us__container-info--center">¡Seguimos manos a la obra!</div>
    <div class="us__container-info--bottom">
      <label for="">GARANTÍA</label>
      <label for="">CALIDAD</label>
      <label for="">EXPERIENCIA</label>
    </div>
  </div>
  <div>
    <img src="../../../../assets/img/piso_laminado.png" height="210px" width="300px">
  </div>
</div>

<div class="us__contact">
  <div class="us__contact__form">

    <form class="us__contact__form--container" [formGroup]="contactUsForm" (ngSubmit)="sendContactUs(contactUsForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" maxlength="64" autocomplete="off" multiFormat="letters" maxlength="60">
        <mat-error *ngIf="contactUsForm.get('name').errors?.required">El nombre es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" maxlength="64" autocomplete="off" maxlength="60">
        <mat-error *ngIf="contactUsForm.get('email').errors?.email">Debe ingresar un email valido</mat-error>
        <mat-error *ngIf="contactUsForm.get('email').errors?.required">El email es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número de contacto</mat-label>
        <input matInput placeholder="Número de contacto" formControlName="phoneNumber" maxlength="64" autocomplete="off" minlength="7" maxlength="14" multiFormat="phone" [value]="contactUsForm.get('phoneNumber').value | phoneNumber">
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.minlength">Debe ingresar un número de contacto valido</mat-error>
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.maxlength">Debe ingresar un número de contacto valido</mat-error>
        <mat-error *ngIf="contactUsForm.get('phoneNumber').errors?.required">El número de contacto es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mensaje</mat-label>
        <textarea matInput class="us__contact__form--container__textarea" placeholder="Mensaje" formControlName="message" autocomplete="off" maxlength="256" rows="13"></textarea>
      </mat-form-field>
      <div class="us__contact__form--container__button">
        <button mat-raised-button type="submit" style="width: 100%;" [disabled]="contactUsForm.invalid">Enviar</button>
      </div>
    </form>

  </div>

  <div class="us__contact__whatsapp">
    <div class="us__contact__whatsapp__container">
      <p class="us__contact__whatsapp__container__request">SOLICITA UNA VISITA</p>
      <p class="us__contact__whatsapp__container__text">¡Sin costo y sin compromiso!</p>
    </div>
    <div class="us__contact__whatsapp__con-button">
      <button mat-raised-button><a href="https://wa.link/g4cibi" target="_blank">WhatsApp</a></button>
    </div>
  </div>
</div>
